
<div class="alert alert-danger col col-md-9" style="margin:0 auto; text-align:center">
  

    <h3 id="navcol-1">There are no results yet, please check in later</h3>
    <a class="btn btn-secondary" asp-action="List" asp-controller="Dog" style="padding-left:50px; padding-right:50px; border-radius:30px">Back</a>
</div>

