
@{ 
    Layout = "_LandingLayout";
}

<div class=".div-height">
    <div class="div-background">
        <h2><br>Thank You!</h2>
        <p>Thanks for placing your order.</p>
        <p>We'll ship your kit as soon as possible!</p>
    </div>
</div>
