@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div id="div-bg">
    <section class="d-flex flex-column justify-content-between" id="herovh">
        <div></div>
        <div id="hero-middle">
            <div class="row no-gutters">
                <div class="col">
                    <div></div>
                </div>
                <div class="col mission">
                    <p data-aos="fade-down" data-aos-once="true" class="mission-header">Our Mission</p>
                    <p data-aos="fade-down" data-aos-delay="200" data-aos-once="true"><br>We want to bring together dog owners and dogs by providing data. This information tells dog owners about their dog's genetic heritage, mix, and health.<br><br></p>
                </div>
            </div>
        </div>
        <div id="hero-bottom"></div>
    </section>
    <section id="about">
        <div>
            <div id="divspace2"></div>
            <div id="divspace2"></div>
            <p data-aos="fade" data-aos-duration="200" data-aos-delay="100" data-aos-once="true">
                <br><br><br>We are a privately held genomics company specializing in dogs, based out<br>of Jacksonville, Florida. Currently there are more than 70 million pet canines<br>living in US households and overwhelming majority of owners would
                describe<br>their dog as a family member rather than a "pet". We are here to<br>provide information dog owners were never able to gain before. We will produce<br>feedback on their dog's breed, personality, and health risks. We use<br>non-invasive
                swab kit to gain the dog's DNA and use our in-house lab to test<br>the 39 pairs of chromosomes found in dog's DNA, which is where we got our<br>company name! <br><br><br><br><br><br>
            </p>
        </div>
    </section>
</div>
