@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="div-bg">
    <div id="divspace"></div>
    @*<div id="flexcontainer">*@
        <div class="col col-md-8" style=" margin:0 auto;">
            <p class="text-center mission" style="background-color:rgb(244,242,243); padding:20px; border-radius:20px">
                <br> <br> <br>FAQ: <br> <br> <br> <br>GENERAL QUESTIONS <br> <br> <br> <br>Where did 39Canine get its name? <br> <br>39Canine got their name through science, as dogs have 39 chromosomes in their DNA. <br> <br> <br> <br>What is 39Canine’s
                mission? <br> <br>Our goal is to provide detailed health and genetic reports to beloved pet owners, so that you can have everything you need at your disposal to ensure the health and well-being ofyour dog. <br> <br> <br> <br>What is
                your product? <br> <br>We sell one product, our Health and Genetics kit for $39. Included in this is a physical package that will come to you in the mail, that will be sent back to us with the sample of your dog’s DNA (collected through
                a cheek swab). In around 6-8 weeks after the sample comes to our lab, you’ll receive a comprehensive report on your dog’s well-being. <br> <br> <br> <br>What are some of the tests done on my dog’s DNA? <br> <br>We test your dog’s health
                traits and see what carrier traits he/she might be predisposed to. We test for many genes, those including MDRI, the multi-drug sensitivity genetic mutation, blood deficiencies, and many other genetic tests for all the major organs.
                We will also provide a breed breakdown, and predisposed genetic personality traits. <br> <br> <br> <br>Do you save my dog’s DNA information? <br> <br>We are only privy to save and use your dog’s information if you allow us. If you
                do not opt in, then we do not keep any information given. We care about your privacy and the privacy of your dog. <br> <br> <br> <br>Will 39Canine expand to other kinds of pets? <br> <br>Yes! We plan on expanding to other household
                pets, such as cats or bunnies. Be on the lookout soon. <br> <br> <br> <br> <br> <br> <br>REGISTRATION <br> <br> <br> <br>How do I register for 39Canine? <br> <br>Simply sign-in or create an account, click on the shop button at top
                right or the Find out now. Once you purchase our product, we will send you a kit! <br> <br> <br> <br> <br> <br>USER QUESTIONS <br> <br> <br> <br>Why do I have two check swabs? <br> <br>We provide two check swabs in order to ensure
                you capture enough saliva. Please use both, as we might need the second one in case the first one isn’t enough. If we still can’t capture your pet’s DNA, then we will send you a replacement kit free of charge. <br> <br> <br> <br>How
                long will it be until I get my results? <br> <br>It should take around 6-8 weeks after you send your kit in for us to thoroughly test and ensure accurate results. You should receive an email. <br> <br>What will my dog’s DNA be used
                for (if I opt in to share my <br>pet’s information)? <br> <br>If you choose to opt in to share, your pet’s genetic information will be entered into 39Canine’s genetic repository and used for research groups to test. <br> <br> <br>                    <br> <br> <br> <br>
            </p>
        </div>
    @*</div>*@
</div>